In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [4]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression

In [4]:
spark = SparkSession.builder.appName("student performance").getOrCreate()

In [6]:

dataset = spark.read.csv("/content/Student_performance_data _.csv", inferSchema = True, header = True)
print('There are ',len(dataset.columns),'columns in this dataset')
print('There are ',dataset.count(), 'rows in this dataset')

There are  15 columns in this dataset
There are  2392 rows in this dataset

AttributeError: 'DataFrame' object has no attribute 'isna'

In [ ]:
dataset.show()
# dataset previously cleaned before using so this step is skipped, straight to analysis

+---------+---+------+---------+-----------------+----------------+--------+--------+---------------+---------------+------+-----+------------+-----------------+----------+
|StudentID|Age|Gender|Ethnicity|ParentalEducation| StudyTimeWeekly|Absences|Tutoring|ParentalSupport|Extracurricular|Sports|Music|Volunteering|              GPA|GradeClass|
+---------+---+------+---------+-----------------+----------------+--------+--------+---------------+---------------+------+-----+------------+-----------------+----------+
|     1001| 17|     1|        0|                2|19.8337228078547|       7|       1|              2|              0|     0|    1|           0| 2.92919559166768|         2|
|     1002| 18|     0|        0|                1|15.4087560558467|       0|       0|              1|              0|     0|    0|           0| 3.04291483343638|         1|
|     1003| 15|     0|        2|                3|4.21056976881226|      26|       0|              2|              0|     0|    0|           0|0.112602254466182|         4|
|     1004| 17|     1|        0|                3|10.0288294739582|      14|       0|              3|              1|     0|    0|           0| 2.05421813970295|         3|
|     1005| 17|     1|        0|                2|4.67249527297133|      17|       1|              3|              0|     0|    0|           0| 1.28806118179539|         4|
|     1006| 18|     0|        0|                1|8.19121854525019|       0|       0|              1|              1|     0|    0|           0| 3.08418361448639|         1|
|     1007| 15|     0|        1|                1|15.6016804746993|      10|       0|              3|              0|     1|    0|           0| 2.74823741489158|         2|
|     1008| 15|     1|        1|                4|15.4244963058081|      22|       1|              1|              1|     0|    0|           0| 1.36014271231646|         4|
|     1009| 17|     0|        0|                0| 4.5620075580477|       1|       0|              2|              0|     1|    0|           1| 2.89681918951357|         2|
|     1010| 16|     1|        0|                1|18.4444663630972|       0|       0|              3|              1|     0|    0|           0| 3.57347421032977|         0|
|     1011| 17|     0|        0|                1|11.8513636552965|      11|       0|              1|              0|     0|    0|           0| 2.14717162501851|         3|
|     1012| 17|     0|        0|                1|7.59848581924029|      15|       0|              2|              0|     0|    0|           1| 1.55959451904028|         4|
|     1013| 17|     0|        1|                1|10.0387116156172|      21|       0|              3|              1|     0|    0|           0| 1.52007781487481|         4|
|     1014| 17|     0|        1|                2|12.1014250687549|      21|       0|              4|              0|     1|    0|           0| 1.75158095833408|         4|
|     1015| 18|     1|        0|                1|11.1978106369157|       9|       1|              2|              0|     0|    0|           0|  2.3967881171248|         3|
|     1016| 15|     0|        0|                2|9.72810071072356|      17|       1|              0|              0|     1|    0|           0| 1.34152071653467|         4|
|     1017| 18|     0|        3|                1| 10.098656081788|      14|       0|              2|              1|     1|    0|           0| 2.23217527771598|         3|
|     1018| 18|     1|        0|                0|3.52823820855772|      16|       1|              2|              0|     0|    0|           0| 1.38440417569403|         4|
|     1019| 18|     0|        1|                3|16.2546580860936|      29|       0|              2|              1|     0|    0|           1| 0.46955332337987|         4|
|     1020| 17|     0|        0|                1|10.8352063988203|       9|       0|              2|              0|     0|    1|           0|  2.3957840945307|         3|
+---------+---+------+---------+-----------------+----------------+--------+--------+---------------+---------------+------+-----+------------+-----------------+----------+
only showing top 20 rows

In [ ]:
assembler = VectorAssembler(inputCols = ['Age', 'Gender', 'Ethnicity', 'ParentalEducation', 'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport', 'Extracurricular','Sports','Music','Volunteering'], outputCol='features')
output = assembler.transform(dataset)

In [ ]:
finalised_data = output.select('features', 'GradeClass')
finalised_data.show()

+--------------------+----------+
|            features|GradeClass|
+--------------------+----------+
|[17.0,1.0,0.0,2.0...|         2|
|(12,[0,3,4,7],[18...|         1|
|(12,[0,2,3,4,5,7]...|         4|
|[17.0,1.0,0.0,3.0...|         3|
|[17.0,1.0,0.0,2.0...|         4|
|(12,[0,3,4,7,8],[...|         1|
|[15.0,0.0,1.0,1.0...|         2|
|[15.0,1.0,1.0,4.0...|         4|
|(12,[0,4,5,7,9,11...|         2|
|(12,[0,1,3,4,7,8]...|         0|
|(12,[0,3,4,5,7],[...|         3|
|(12,[0,3,4,5,7,11...|         4|
|[17.0,0.0,1.0,1.0...|         4|
|[17.0,0.0,1.0,2.0...|         4|
|[18.0,1.0,0.0,1.0...|         3|
|(12,[0,3,4,5,6,9]...|         4|
|[18.0,0.0,3.0,1.0...|         3|
|(12,[0,1,4,5,6,7]...|         4|
|[18.0,0.0,1.0,3.0...|         4|
|(12,[0,3,4,5,7,10...|         3|
+--------------------+----------+
only showing top 20 rows

In [ ]:
train, test = finalised_data.randomSplit([0.8, 0.2])

In [ ]:
log_reg = LogisticRegression(featuresCol = "features", labelCol="GradeClass")
log_regmodel = log_reg.fit(train)
predictions = log_regmodel.transform(test)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
multi_eval = MulticlassClassificationEvaluator(labelCol="GradeClass", predictionCol="prediction")
accuracy = multi_eval.evaluate(predictions, {multi_eval.metricName: "accuracy"})
precision = multi_eval.evaluate(predictions, {multi_eval.metricName: "weightedPrecision"})
recall = multi_eval.evaluate(predictions, {multi_eval.metricName: "weightedRecall"})
f1 = multi_eval.evaluate(predictions, {multi_eval.metricName: "f1"})

In [ ]:
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1: {f1:.4f}")

Accuracy: 0.7677
Precision: 0.7471
Recall: 0.7677
F1: 0.7500

AttributeError: 'DataFrame' object has no attribute 'rootMeanSquaredError'